<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.UnityTechnologies.com.unity.template.urpblank"
          android:installLocation="preferExternal">

    <application
        android:name="com.unity3d.player.UnityPlayerActivity"
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        tools:replace="android:label">
        <!-- Add any activities or metadata here if needed -->
    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

</manifest>
